{# src/P4/BilletBundle/Resources/views/Default/commande.html.twig #}

{% extends "P4BilletBundle::layout.html.twig" %}

{% block header %}
<div class="header">
</div>
{% endblock %}

{% block content %}

    <p class="big">Récapitulatif et Paiement</p>

    <div class="well">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de naisance</th>
                    <th>Pays</th>
                    <th>Tarif réduit</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                {% for billet in billets %}
                    <tr>
                        <td>{{ billet.nom }}</td>
                        <td>{{ billet.prenom }}</td>
                        <td>{{ billet.naissance|date('d/m/Y') }}</td>
                        <td>{{ billet.pays }}</td>
                        {% if billet.tarif == true %}
                            <td> Oui </td>
                        {% else %}
                            <td> Non </td>
                        {% endif %}
                        <td>{{ billet.prix }}€</td>
                    </tr>
                {% endfor %}
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Total : {{ somme / 100 }} €
                        <form action="{{ 'checkout' }}" method="POST">
                            <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="{{ stripe_pk }}"
                                data-amount={{ somme }}
                                data-name="Musée du Louvre"
                                data-description="Paiement"
                                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                data-locale="auto"
                                data-label="Payer par CB"
                                data-allow-remember-me="false"
                                data-zip-code="true"
                                data-currency="eur">
                            </script>
                        </form>
                    </th>
                    <th></th>                    
                </tr>
            </tbody>
        </table>


    </div>

{% endblock %}