{# src/P4/BilletBundle/Resources/views/Default/commande.html.twig #}

{% extends "P4BilletBundle::layout.html.twig" %}

{% block content %}

    <p class="big"> Paiement </p>

    <div class="well">
    <p>Récapitulatif</p>
        <table>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naisance</th>
                <th>Tarif réduit</th>
                <th>Prix</th>
            </tr>
            {% for billet in billets %}
                <tr>
                    <td>{{ billet.nom }}</td>
                    <td>{{ billet.prenom }}</td>
                    <td>{{ billet.naissance }}</td>
                    {% if billet.tarif == true %}
                        <td> Oui </td>
                    {% else %}
                        <td> Non </td>
                    {% endif %}
                    <td>{{ billet.prix }}</td>
                </tr>
            {% endfor %}
        </table>
        <h2 class="total">Total : {{ total }}€</h2>

        <form action="{{ 'checkout' }}" method="POST">
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_pMyWr6cVI4597BGsjyVpiQFj"
                data-amount= {{ total * 100}}
                data-name="Musée du Louvre"
                data-description="Paiement"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"
                data-label="Payer par CB"
                data-allow-remember-me="false"
                data-zip-code="true"
                data-currency="eur">
            </script>
            <input type="hidden" name="somme" value="{{ total * 100 }}"></input>
        </form>
    </div>

{% endblock %}