{# src/P4/BilletBundle/Resources/views/Default/formBillets.html.twig #}

{% extends "P4BilletBundle::layout.html.twig" %}

{% block title %}Reservation billets{% endblock %}

{% block info %}
<div id="info" class="col-xs-12 col-md-3 col-lg-2">
    <div class="well">
        <div class="grey title-white">
            <p>Tarifs :</p>
        </div>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Billet</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Enfant<h6>(entre 4 et 12 ans)</h6></td>
                    <td>{{ prix.junior }}€</td>
                </tr>
                <tr>
                    <td>Normal<h6>(à partir de 12 ans)</h6></td>
                    <td>{{ prix.adulte }}€</td>
                </tr>
                <tr>
                    <td>Senior<h6>(à partir de 60 ans)</h6></td>
                    <td>{{ prix.senior }}€</td>
                </tr>
                <tr>
                    <td>Réduit<h6>(sous conditions)</h6></td>
                    <td>10€</td>
                </tr>
            </tbody>
        </table>
        <p>L'entrée pour les enfants de moins de 4 ans est gratuite !</p>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="content" class="col-xs-12 col-md-6 col-lg-8">
    <div class="grey">
        <p class="big"><span class="glyphicon glyphicon-info-sign icone"></span> Info Réservation</p>
    </div>
    <div class="well">
        <p><b>Date de visite :</b> <span class="dateVisite">{{ session.formulaire.date.date|date("d/m/Y") }}</span></p>
        <p><b>Nombre de billet :</b> <span class='nombre'>{{ session.formulaire.nombre }}</span></p>
        <p><b>Email :</b> {{ session.formulaire.email }}</p>
        <p><b>Type de billet :</b> 
            {% if session.formulaire.type == 'journee' %} Journée 
            {% elseif session.formulaire.type == 'demi_journee'%} Demi-Journée 
            {% endif %}
        </p>
    </div>

    <div class="grey">
        <p class="big"><span class="glyphicon glyphicon-tags icone"></span> Information Billets</p>
    </div>
    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal' }}) }}
            <div class="formulaire">

                {{ form_errors(form) }}

                {% set index = 0 %}

                {% for billet in form.billets %}
                    <div class="grey"><h4 class="title-white"><span class="glyphicon glyphicon-tag icone"></span> Billet N° {{ index + 1 }}</h4></div>

                    {{ form_widget(billet) }}

                    {% set index = index + 1 %}
                {% endfor %}

                <div class="form-group">
                {{ form_widget(form.save, {'attr': {'class': 'col-xs-offset-3 col-xs-6 btn-success paiement'}}) }}
                </div> 
            </div>
        {{ form_end(form) }}
    </div>
</div>

<script type="text/javascript" src="{{ asset('bundles/p4billet/jquery/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/p4billet/jquery/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/p4billet/datepicker/js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/p4billet/datepicker/locales/bootstrap-datepicker.fr.min.js') }}"></script>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>


{% endblock %}

{% block recap %}
<div id="recap" class="col-xs-12 col-md-3 col-lg-2">
    <div class="well">
        <div class="grey title-white">
            <p>Commande :</p>
        </div>
        <div class="resume">
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th class="center">Billets</th>
                        <th class="center">Qts</th>
                        <th class="right">Prix</th>
                        <th></th>
                    </tr>
                </thead>        
                <tbody>                            
                    <tr class="gratuit hide">
                        <td class="center">Gratuit</td>
                        <td class="QBilletGratuit center">0</td>
                        <td class="PrixBilletGratuit right">0</td>
                        <td>€</td>
                    </tr>
                    <tr class="enfant hide">
                        <td class="center">Enfant</td>
                        <td class="QBilletEnfant center">0</td>
                        <td class="PrixBilletEnfant right">0</td>
                        <td>€</td>
                    </tr>
                    <tr class="normal hide">
                        <td class="center">Normal</td>
                        <td class="QBilletNormal center">0</td>
                        <td class="PrixBilletNormal right">0</td>
                        <td>€</td>
                    </tr>
                    <tr class="senior hide">
                        <td class="center">Senior</td>
                        <td class="QBilletSenior center">0</td>
                        <td class="PrixBilletSenior right">0</td>
                        <td>€</td> 
                    </tr>
                    <tr class="reduit hide">
                        <td class="center">Reduit</td>
                        <td class="QBilletReduit center">0</td>
                        <td class="PrixBilletReduit right">0</td>
                        <td>€</td>                    
                    </tr>
                <tbody>                                                
            </table>
            <div class="somme">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

$(document).ready(function()
  { 
    if ($(window).width() > 993 ) { 
        $('#info').addClass('sticky'); 
        $('#recap').addClass('sticky'); 
    } else { 
        $('#info').removeClass('sticky'); 
        $('#recap').removeClass('sticky'); 
    };
    var index = $('.nombre').html();
    for ( b=0; b<index; b++)
    {
      $("#formulaire_billets_"+b+"_naissance").addClass('naissance prix');
    }
    $('.naissance').datepicker({
      format: "dd/mm/yyyy",
      startDate: '01/01/1900',
      endDate: '0',
      language: 'fr',
      autoclose: true,
      todayHighlight: true,
    });

    $(document).change(function() {
      recapCommande();
    });

    function recapCommande() {
        QBG = QBE = QBN = QBS = QBR = 0;
        PBG = PBE = PBN = PBS = PBR = 0;
        somme = 0;
        $(".gratuit").addClass("hide");
        $(".enfant").addClass("hide");        
        $(".normal").addClass("hide");
        $(".senior").addClass("hide");
        $(".reduit").addClass("hide");
        var index = $('.nombre').html();
        for ( b=0; b<index; b++) {    
            date = $("#formulaire_billets_"+b+"_naissance").datepicker("getDate");
            dateVisite = $('.dateVisite').html();
            calcul_age(date, dateVisite);
            if ( age >= 0) {
                if ($('#formulaire_billets_' + b + '_tarif').is(':checked')) {
                    prix = 10;
                    recapBillet(prix);
                } else {
                    calcul_prix(age);
                    recapBillet(prix);
                }
            } else {
                $("#formulaire_billets_"+b+"_naissance").addClass('inputError');
                $("#formulaire_billets_"+b+"_naissance").val('');
            }
        }
      }; 

    //Calcul de l'age en fonction de la date de naissance et de la date de visite
    function calcul_age(date, dateVisite) {
      var arrayOfString = dateVisite.split("/");
        birth_year = date.getFullYear();
        birth_month = date.getMonth();
        birth_day = date.getDate();
        today_year = arrayOfString[2];
        today_month = arrayOfString[1];
        today_day = arrayOfString[0];
        age = today_year - birth_year;

        if ( today_month - 1 < birth_month){
            age--;
        } if ((birth_month == today_month - 1) && (today_day < birth_day)){
            age--;
        }
        return age;
    }

    //Calcul du prix en fonction de l'age
    function calcul_prix (age) {
        if (age < 4 && age >= 0) {
            prix = 0;
        } else if (age >= 4 && age < 12) {
            prix = 8;
        } else if (age >=12 && age < 60) {
            prix = 16;
        } else if (age >= 60) {
            prix = 12;
        } else {}
        return prix;
    }

    function recapBillet(prix) {
        if (prix == 0) {
            QBG = QBG + 1;
            PBG = PBG + 0;
            $(".gratuit").removeClass("hide").fadeIn(1200);
        } else if (prix == 8) {
            QBE = QBE + 1;
            PBE = PBE + 8;
            $(".enfant").removeClass("hide").fadeIn(1200);
        } else if (prix == 16) {
            QBN = QBN + 1;
            PBN = PBN + 16;
            $(".normal").removeClass("hide").fadeIn(1200);
        } else if (prix == 12) {
            QBS = QBS + 1;
            PBS = PBS + 12;
            $(".senior").removeClass("hide").fadeIn(1200);
        } else if (prix == 10) {
            QBR = QBR + 1;
            PBR = PBR + 10;
            $(".reduit").removeClass("hide").fadeIn(1200);
        }
        $('.QBilletGratuit').html(QBG);
        $('.QBilletEnfant').html(QBE);
        $('.QBilletNormal').html(QBN);
        $('.QBilletSenior').html(QBS);
        $('.QBilletReduit').html(QBR);

        $('.PrixBilletGratuit').html(PBG);
        $('.PrixBilletEnfant').html(PBE);
        $('.PrixBilletNormal').html(PBN);
        $('.PrixBilletSenior').html(PBS);
        $('.PrixBilletReduit').html(PBR);    

        somme = PBG + PBE + PBN + PBS + PBR;

        $('.somme').html('Prix Total = ' + somme + "€");
    } 
});
    
</script>

{% endblock %}