{{ form_start(form, {'attr': {'class': 'form-horizontal' }}) }}
  <div class="formulaire">

    {{ form_errors(form)}}

    <div class="form-group">
      {{ form_label(form.date, "Date de visite", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

      {{ form_errors(form.date) }}

      <div class="col-sm-10">
        {{ form_widget(form.date, {'attr': {'class': 'form-control datepicker visite'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.email, "Adresse Email", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

      {{ form_errors(form.email) }}

      <div class="col-sm-10">
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
      
    <div class="form-group">
      {{ form_label(form.nombre, "Nombre de billets", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

      {{ form_errors(form.nombre) }}

      <div class="col-sm-3">
        {{ form_widget(form.nombre, {'attr': {'class': 'form-control nombre'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.type, "Type de billets", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

      {{ form_errors(form.type) }}

      <div class="col-sm-10">
        {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div> 

    <div class="form-group">
      {{ form_widget(form.save, {'attr': {'class': 'col-xs-offset-3 col-xs-6 btn-success paiement'}}) }}
    </div>
    
  </div>

{{ form_end(form) }}


<script type="text/javascript" src="{{ asset('bundles/p4billet/jquery/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/p4billet/jquery/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/p4billet/datepicker/js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/p4billet/datepicker/locales/bootstrap-datepicker.fr.min.js') }}"></script>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>



<script type="text/javascript">

  $('.datepicker').datepicker({
      format: "dd/mm/yyyy",
      startDate: '0',
      language: 'fr',
      daysOfWeekDisabled: "0",
      autoclose: true,
      todayHighlight: true,
      datesDisabled: ['1/1/YYYY', '1/5/YYYY', '8/5/YYYY', '14/07/YYYY', '15/08/YYYY', '1/11/YYYY', '11/11/YYYY', '25/12/YYYY', '17/04/YYYY', '25/05/YYYY', '5/06/YYYY']
    });

</script>