{{ form_start(form, {'attr': {'class': 'form-horizontal' }}) }}
  <div class="formulaire">

    {{ form_errors(form)}}

    <div class="form-group">
      {{ form_label(form.date, "Date de visite", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

      {{ form_errors(form.date) }}

      <div class="col-sm-2">
        {{ form_widget(form.date, {'attr': {'class': 'form-control datepicker visite'}}) }}
      </div>

      {{ form_label(form.nombre, "Nombre de billets", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

      {{ form_errors(form.nombre) }}

      <div class="col-sm-2">
        {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
      </div>

      <a href="#" id="validate" class="prix btn btn-success">Valider</a>
    </div> 

    <div class="form-group">
      {{ form_label(form.type, "Type de billets", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

      {{ form_errors(form.type) }}

      <div class="col-sm-2">
        {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>  

    {{ form_widget(form.billets) }}

    <div class="form-group">
      {{ form_widget(form.save, {'attr': {'class': 'col-sm-offset-3 col-sm-6 btn-success'}}) }}
    </div>
    
  </div>

  {{ form_rest(form) }}

{{ form_end(form) }}


<script type="text/javascript" src="{{ asset('bundles/p4billet/jquery/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/p4billet/jquery/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/p4billet/datepicker/js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/p4billet/datepicker/locales/bootstrap-datepicker.fr.min.js') }}"></script>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>



<script type="text/javascript">

  $('.datepicker').datepicker({
      format: "dd/mm/yyyy",
      startDate: '0',
      endDate: '31/12/2017',
      language: 'fr',
      daysOfWeekDisabled: "0",
      autoclose: true,
      todayHighlight: true,
      datesDisabled: ['1/1/2017', '1/5/2017', '8/5/2017', '14/07/2017', '15/08/2017', '1/11/2017', '11/11/2017', '25/12/2017', '17/04/2017', '25/05/2017', '5/06/2017']
  });

  var $container = $('div#formulaire_billets');
  // On définit un compteur unique pour nommer les formulaires qu'on va ajouter dynamiquement
  var index = $container.find(':input').length;


  // On ajoute un nouveau formulaire à chaque clic sur le lien d'ajout.
  $('#validate').click(function(e) {

    var nombreBillets = $('input#formulaire_nombre').val();

    // Conditions si on doit ajouter ou retirer un billet en fonction de la demande client et le nombre de formulaire affiché
    if (index == 0 ) {
      for(var i=0; i<nombreBillets; i++) {
        addBillet($container);
      }
    } else if ( index < nombreBillets ) {
      while ( index < nombreBillets ) {
        addBillet($container);
      }
    } else if ( index > nombreBillets ) {
      while (index > nombreBillets) {
        removeBillet();        
      }
    } else {}
    recapCommande();
    e.preventDefault(); 
    return false;
  });

  // La fonction qui ajoute un formulaire billet
  function addBillet($container) {
    var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, 'Billet N°' + (index+1))
        .replace(/__name__/g,        index)
      ;

    // On crée un objet jquery qui contient ce template
    var $prototype = $(template);

    // On ajoute le prototype modifié à la fin de la balise <div>
    $container.append($prototype);

    $('#formulaire_billets_' + index + '_naissance').addClass('datepicker prix');
    $('#formulaire_billets_' + index + '_tarif').addClass('prix');

    $('#formulaire_billets_' + index + '_naissance').datepicker({
      format: "dd/mm/yyyy",
      weekStart: 1,
      autoclose: true,
      endDate: '0',
      startDate: '01/01/1900',
      language: 'fr',
    });

    // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
    index++;
  }

  //Fonction qui retire un formulaire billet
  function removeBillet() {
    $("div#formulaire_billets > div.form-group:last-child").remove();

    index--;
  }
</script>